* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  background-color: rgb(164, 161, 161);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.clock {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 8, 7);
  height: 180px;
  width: 378px;
  text-shadow: 1px 1px 7px;
  color: rgb(255, 30, 0);
  border-radius: 50%;
  border: 2px solid silver;
  box-shadow: 0 0 20px 20px;
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.clock section p {
  font-size: 4rem;
}
